
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,300;1,400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {
    background: linear-gradient(45deg, royalblue, dodgerblue, skyblue);
    background-attachment: fixed;
}

nav {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    background: #23232e;
}

.navList{
    list-style: none;
    display: flex;   
}

.navList li {
   letter-spacing: 2px;
   margin-left: 32px;
}

.menuMobile {
    display: none;
    cursor: pointer;
}

.menuMobile div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .navList {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .navList li {
        margin-left: 0;
        opacity: 0;
    }

    .menuMobile {
        display: block;
    }
}

.navList.active {
    transform: translateX(0);
}
 
@keyframes fadeLink {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.menuMobile.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menuMobile.active .line2 {
    opacity: 0;
}

.menuMobile.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}