
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,300;1,400&display=swap');


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, royalblue, dodgerblue, skyblue);
    background-attachment: fixed;
  }


  header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;

    margin-bottom: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
  }


  .container {
    background: whitesmoke;
    padding: 6px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px darkgray;
  }

  form {
    position: absolute;
    margin-top: 80px;
    transition: .5s;
    width: 300px;
    height: 400px;
  }

  .buttons {
    margin-top: 40px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 blueviolet;
  }

  .buttons button {
    cursor: pointer;
    background: transparent;
    border: none;
    position: relative;
    padding: 10px 30px;
  }

  .btnColor {
    position: absolute;
    width: 116px;
    height: 100%;
    background: linear-gradient(to right, #5956e9, #a963f8);
    border-radius: 30px;
    transition: .3s;
  }

  input[type="text"], input[type="password"] {
    border: none;
    margin-top: 40px;
    border-radius: 60px;
    padding: 8px 0 8px 35px;
    outline: none;
    width: 100%;
  }

  button[type="submit"] {
    background: #660fc8;
    color: white;
    border-radius: 30px;
    width: 100%;
    border: none;
    padding: 8px 0 8px 15px;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background: #b6a1ce;
    transition: .3s;
  }

  .check {
    margin: 10px 0 0 5px;
    width: 80%;
    font-size: 15px;
  }

  #signin {
    left: 25px;
  }

  #signup {
    left: 450px;
  }

  i{
    position: absolute;
    left: 0;
    padding: 10px 10px;
  }

  .iEmail {
    top: 40px;
  }

  .iPassword {
    top: 114px;
  }

  .iPassword2 {
    top: 190px;
  }

   a {
    text-decoration: none;
    color: #fff;
   }